.ShadowBtn{
    width: 340px;
    height: 85px;
    border: 2px solid #222628;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 0px -1px rgba(0, 0, 0, 1);
    background-color: #FFFFFF;
}
.InBtn{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    margin: 0px !important;
    /* identical to box height */


    color: #222628;
}

.ShadowBtn:hover{
    background-color: #FFD100;
}

@media screen and (max-width: 576px) {
    .ShadowBtn{
        margin: 0 auto !important;
    }
    /* .InBtn{
        width: 360px;
        height: 78px;
    } */
    
}