.TabPanelButtons{
    flex-direction: column !important;
}
#SpikerAboutMob{
    display: none;
}

.css-8atqhb{
    justify-content: space-between !important;
    /* width: 75% !important;
    margin: 0px 200px !important; */
}
.css-19kzrtu{
    width: 100% !important;
    background: #F5F5F5;
    padding: 0px !important;
}
.css-1aquho2-MuiTabs-indicator{
    display: none;
}
.TabValue{
    height: auto;
    background: #FFFFFF;
}
.TabButtons{
    border: 2px solid #222628;
    width: 380px !important;
    padding: 0px 188px !important;

}
.css-heg063-MuiTabs-flexContainer, .SpikerBlock{
    width: 75% !important;
    margin: 0 200px !important;
}
.SpikerBlock{
    margin: 50px 200px !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    border: 2px solid #222628 !important;
    background-color: #FFFFFF !important;
    height: 90px !important;
    margin-bottom: 20px !important;
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 800 !important;
    font-size: 20px !important;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #222628 !important;
    width: 380px !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    background-color: #FFD100 !important;
    color: #222628 !important;
    font-size: 20px;
    
}
.TabButtons2{
    margin-left: 30px !important;
    width: 380px !important;
}
.SpikerBlock{
    display: flex;
    justify-content: space-between;
}
.SpikerName{
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    
    color: #000000;

}
.SpikerBio{
    margin-left: 30px !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.SpikerAbout{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #222628;
}
.ConnectIcons{
    width: 39px;
    height: 39px;
    background-color: #F5F5F5;
    border: 1px solid black !important;
    -webkit-box-shadow: 25px 25px 0px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 25px 25px 0px -9px rgba(0, 0, 0, 1);
    box-shadow: 6px 6px 0px 0px rgb(0 0 0);
    margin-bottom: 12px;
}
.SpikerConnect{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.ConnectIcons{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1400px) {
    .SpikerBlock{
        margin: 50px auto !important;
        width: 90% !important;
    }
    .css-heg063-MuiTabs-flexContainer{
        margin: 50px auto 0px !important;
        width: 90% !important;
    }
    
    
    
}
@media screen and (max-width: 1200px) {
    .SpikerImg, .SpikerImg img{
        width: 500px;
        height: 250px;
        object-fit: cover;
    }
    
}
@media screen and (max-width: 947px) {
    .SpikerImg img{
        width: 390px;
        height: 100%;
    }
    .TabButtons{
        width: 180px !important;
        padding: 0px !important;
    }
    .SpikerImg{
        width: 390px;
        height: 138px;
    }
    .SpikerName{
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
    }
    .SpikerAbout{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
    
}
@media screen and (max-width: 576px) {
    .SpikerBlock{
        display: flex;
        flex-direction: column;
    }
    .SpikerImg img{
        width: 360px !important;
    }
    .css-heg063-MuiTabs-flexContainer{
        display: flex;
        flex-direction: column;
    }
    .TabButtons{
        width: 360px !important;
        padding: 0px !important;
    }
    .TabButtons2{
        margin: 0px !important;
    }
    .SpikerBio{
       
        flex-direction: row-reverse;
        margin: 10px 0px !important;
    }
    .SpikerConnect {
        width: 40%;
    }
    .SpikerAbout{
        display: none;
    }
    .SpikerName{
        font-family: 'Monument Extended';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;

        color: #000000;
        width: 40%;
    }
    #SpikerAboutMob{
        display: block;
    }
}
