.header{
    width: 100%;
    box-shadow: 0 2px 0 #222628;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #F5F5F5 !important;
  
}
.Navbar{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #F5F5F5;
}
.link{
    margin-left: 50px;
}

.logoBlock{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.navSections{
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0px;
    margin-bottom: 0px !important;
}
.link{
    text-decoration: none;
    color: #222628;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Space Grotesk';

}

@media screen and (min-width: 1600px){
    .Navbar{
        max-width: 1600px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1200px) {
    .header{
        width: 100%;
    }
    .Navbar{
        width: 100%;
    }
}
@media screen and (max-width: 947px) {
    .Navbar{
        width: 80%;
        height: 80px;
        margin: 0 100px;

    }

    .logoIcon{
        width: 90px;
    }
    .link{
        font-size: 12px;
        margin-left: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        font-family: 'Space Grotesk';
        font-style: normal;
    }
    
}
@media screen and (max-width: 576px) {
    .link{
        display: none;
    }
    .Navbar{
        width: 90%;
        margin: 0 auto;
    }
    
}