.header{
    width: 100%;
    box-shadow: 0 2px 0 #222628;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 222;
    background-color: #F5F5F5 !important;
  
}
.Navbar{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #F5F5F5;
}
.link{
    margin-left: 50px;
}

.logoBlock{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.navSections{
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0px;
    margin-bottom: 0px !important;
}
.link{
    text-decoration: none;
    color: #222628;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Space Grotesk';

}


/* Menu Button */
.MenuGrid{
    z-index: 1000000000000;
}
.menuGridTemp{
    display: block;
    top: 0;
    right: 0;

}
.hideiconSid{
    opacity: 0 !important;
}
.menuGridTemp {
    font-size: 18px;
    position: fixed;
    margin: 30px 10px;
    padding: 3px 6px;
    display: flex;
    align-items: center;
    text-shadow: 2px 1px #000;
    justify-content: center;
    color: #000;
    z-index: 1111111;

}

.MenuGrid{
    height: 30px;
    width: 30px;
    text-shadow: 2px 1px #000;
    transition: 0.5s ease all;
}
.CloseMenuGrid{
    display: none;
}
.MenuGrid {
    outline: none;
}
.menu{
    display: none;
}
.menuMob{
    display: flex;
    position: absolute !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 80px;
    left: 0;
    height: 100vh;
    width: 105vw;
    background: #FFF;
    z-index: 100000000000000;
}
.innerMenuMob{
    position: absolute;
    top: 25%;
}

.MainNavLi{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0px;
}
.MainNavActive{
    display: flex;
    align-items: center;
    justify-content: center;
}
.MainNavLiActive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}
.MainNavLiActive {
    margin: 20px 20px;
    list-style-type: none;
    padding: 0px;
}
.MainNavLiActive > *{
    margin: 12px auto;
    font-family: 'SF Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */    
    text-align: center;
    color: #000000;
}
.MainNavLi a, .MainNavLiActive a{
    color: black;
    text-decoration-line: none;
}
.NumberNavActive{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
}
.NavFon{
    position: fixed;
    width: 100%;
    /* margin: 0 5%; */
    box-shadow:  0 2px 0 0px rgb(231, 229, 229);
    z-index: 22;
    background: #fff;
    top: 0;
    right: 0;

}

@media screen and (min-width: 768px) {
    .menuGridTemp{
        display: none;
    }   
    
}

@media screen and (max-width:768px) {
    .navSections li {
        display: none;
    }
    .menuGridTemp {
        display: block;
    }
    
}


@media screen and (min-width: 1600px){
    .Navbar{
        max-width: 1600px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1200px) {
    .header{
        width: 100%;
    }
    .Navbar{
        width: 100%;
    }
}
@media screen and (max-width: 947px) {
    .Navbar{
        width: 80%;
        height: 80px;
        margin: 0 100px;

    }

    .logoIcon{
        width: 90px;
    }
    .link{
        font-size: 12px;
        margin-left: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        font-family: 'Space Grotesk';
        font-style: normal;
    }
    
}
@media screen and (max-width: 576px) {
 
    .Navbar{
        width: 90%;
        margin: 0 auto;
    }
    
}