.headerTitleBlock{
    border-top: 2px solid #222628;
    border-bottom: 2px solid #222628;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    text-transform: uppercase;
    color: #222628;
    margin-bottom: 50px;
}
.hrLine{
    height: 2px !important;
    background: black !important;
}
.h2Text{
    font-size: 32px;
    font-weight: 800;
    margin-left: 200px;
    line-height: 38px;
    font-style: normal;
    text-transform: uppercase;
    color: #222628;
}
@media screen and (max-width: 1400px) {
    .h2Text{
        width: 90% !important;
        margin: 0 auto !important;
    }
    
}
@media screen and (max-width: 576px) {
    .h2Text{
        font-family: 'Monument Extended';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 21px;
        text-transform: uppercase;
        color: #222628;
        text-align: center;
    }
    
}