@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* @font-face {
    font-family: 'Sansation Light';
    src: url('../../shrift/sansation.light.woff');
    /* src: url('../../shrift/sansation.light.woff') format('embedded-opentype'),  url('../../shrift/sansation.light.woff') format('woff'),  url('SansationLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container {
  width: 100%;
  position: relative;
} */
body {
  background: #f3f3f3;
}
/* KeysBox Part */
.box {
  max-width: 1200px !important;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.titleBox {
  width: 100%;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
  padding: 30px 0 30px 200px;
}
.titleBox__item {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #222628;
}
.personBlock {
  margin: 50px 0;
  border-bottom: 2px solid #222628;
  padding-bottom: 50px;
  font-family: "Space Grotesk";
}
.bannerImgPort {
  border: 2px solid #222628;
}
.simpleCard {
  padding: 20px;
  border: 2px solid #222628;
  height: 280px;
}
.card__name {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
  color: #000000;
}
.card__info {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #222628;
}
.brText {
  margin: 30px 0 20px;
}
.greenCards {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.greenCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
  width: 380px;

  background-color: #b4ffc9;
  font-family: "Space Grotesk";
  border: 2px solid #222628;
}
.innerGreenCard {
  position: absolute;
  top: 50px;
  padding: 0px 20px 0px 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 51px;
  color: #222628;
}
.innerGreenCardLeft {
  position: relative;
  display: block;
  background: #b4ffc9 !important;
  left: -35px;
}
.innerGreenCardLeft > * {
  background-color: #b4ffc9;
}
.greenCard > *,
.innerGreenCard > * {
  background-color: #b4ffc9 !important;
}

.greenCardBtn {
  position: absolute;
  bottom: 20px;
  height: 80px;
  width: 334px;
  background-color: #fff !important;
  color: #000;
}
.greenCardBtn:hover,
.greenCardBtn:hover a,
.greenCardBtn:hover svg {
  background-color: #ffd100 !important;
}
.greenCardBtn a {
  color: #000;
  background-color: #fff;
}

/* Carousel Part */
.carouselContainer {
  margin: 80px auto 120px;
}

/* Accordion Part */

/*  Tariflar Section  */

.planChange {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.boxTarif {
  min-height: 647px;
  max-height: max-content;
  width: 380px;
  border: 2px solid #222628;
  margin: 200px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxTarif > * {
  border: 2px solid #222628;
  width: 100%;
  font-family: "Space Grotesk";
}

.tarifTitle {
  text-transform: uppercase;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #222628;
}
.tarifTitle span {
  position: absolute;
  padding: 20px;
  left: 0;
  color: #ffd100;
}
.tarifPrice {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 51.04px;
}
.boxTarif:hover .tarifPrice {
  background-color: #ffd100 !important;
  transition: all 0.3s;
}

.tarifPrice span {
  color: #7d7d7d;
  line-height: 40.83px;
  font-size: 32px;
  font-weight: 400;
}
.tarifServis {
  list-style-type: none;
  border: none;
  padding: 20px 20px 110px;
}

.formKursBtn {
  position: absolute;
  bottom: 25px;
  /* left: 40%; */
  width: 340px;
  height: 85px;
  border-radius: 0 !important;
  border: 2px solid #222628 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 0px -1px rgba(0, 0, 0, 1) !important;
  background-color: #ffffff !important;
}
.formKursBtn:hover {
  background-color: #ffd100 !important ;
}
.payBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-dialog,
.modal-lg {
  top: 35%;
  width: 560px !important;
  height: 280px !important;
  background: #fff;
  border: 2px solid #222628;
  border-bottom: 2px solid #222628;
  border-right: 2px solid #222628;
  z-index: 10;

  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 9px 9px 0px 0px rgba(255, 255, 255, 1),
    10px 10px 0px 0px rgba(0, 0, 0, 1);
}

.modal-dialog .ShadowBtn,
.modal-lg .ShadowBtn {
  height: 80px;
  width: 335px;
  margin: 5px;
}

.modalForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

.modal-content {
  height: 100%;
}
.modal-header {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  border: none;
}
.modal-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
}
.modal-body form {
  width: 100%;
}
.formInput {
  border: none;
  border-bottom: 2px solid #222628;
  width: 90%;
  margin-top: 10px;
}
/* Darslar Section */

.darsRow {
  height: 313px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.darsRow:nth-child(odd) {
}
.darsRow:nth-child(even){
  flex-direction: row-reverse;
}
.darsRow:nth-child(even) .darsBlockItem:nth-child(3) {
  border-right: none;
  border-left: 5px solid #ffd100;
  display: flex;
  justify-content: flex-start;
}
.darsBlockItem:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.darsBlockTitle {
  text-transform: uppercase;
}
.darsBlockItem:nth-child(3) {
  border-right: 5px solid #ffd100;
}
.boxShadowBox{
  right: -10px;
}
.darsRow:nth-child(even)  .boxShadowBox{
  left: -10px;
}
.boxShadowBox, .darsBlockItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #ffd100;
  height: 313px;
}
.darsRow:last-child .darsBlockItem {
  border-bottom: none;
}

.darsBlockTitle,
.darsBlockText {
  font-size: " Space Grotesk ";
}

.darsBlockCardShadow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 105px;
  z-index: 2;
  background: #ffffff;
  border: 2px solid #222628;
}
.darsBlockCardShadow:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: " ";
  width: 105px;
  height: 105px;
  border: 2px solid #222628;
  top: 36%;
  right: -65px;
  background-color: #FFF;
  z-index: 1;

}
.darsBlockCardShadow:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: " ";
  width: 105px;
  height: 105px;
  border: 2px solid #222628;
  top: 39%;
  right: -75px;
  background-color:#FFF;
  z-index: 0;
}
.darsRow:nth-child(even) .darsBlockCardShadow:nth-child(1){

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: " ";
  width: 105px;
  height: 105px;
  border: 2px solid #222628;
  top: 36%;
  left: -40px;
  background-color: #FFF;
  z-index: 1;
}  
.darsRow:nth-child(even) .darsBlockCardShadow:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: " ";
  width: 105px;
  height: 105px;
  border: 2px solid #222628;
  top: 39%;
  left: -30px;
  background-color: #FFF;
  z-index: 0;
  }


@media screen and (max-width: 768px) {
  .simpleCard {
    height: 142px;
  }
  .bannerImgPort {
    height: 142px;
  }
}
