

/* Accordion Arrow  */

.MuiAccordionSummary-expandIconWrapper {
    position: absolute;
    right: 30px; 
    color: #222628;
    font-size: 50px;
    width: 25px;
    height: 25px;
}
.MuiAccordionSummary-expandIconWrapper svg{
    height: 20px !important;
    width: 20px !important;
    font-size: 25px !important;
}

/* Box Shadow effect */

.MuiButtonBase-root, .MuiAccordionSummary-root, .css-107vo98-MuiButtonBase-root-MuiAccordionSummary-root{
    background-color: #FFF !important;
    border: none !important;
}
.css-ta84vm-MuiAccordionDetails-root{
    border: none !important;
}
.KouchAccor__accordion{
    width: 90%;
    margin: 50px 0;
    border: 2px solid #222628 !important;
    background-color: #FFF !important;
    -webkit-box-shadow: 9px 9px 0px 0  rgba(255, 255, 255, 1),
    8px 12px 0px 0px rgb(255 255 255),
    10px 10px 0px 0  #000 ,
    19px 19px 0px 0  #FFF,
    20px 20px 0 px 0  #000  !important  
    ;
    -moz-box-shadow: 9px 9px 0px 0px rgba(255, 255, 255, 1),
    10px 10px 0 0 #000 ,
    19px 19px 0 0 #FFF,
    20px 20px 0 0 #000 !important   
    ;
    box-shadow: 9px 9px 0px 0px rgba(255, 255, 255, 1),
    10px 10px 0 0 #000 ,
    19px 19px 0 0 #FFF,
    20px 20px 0 0 #000 !important   
    ;
}
.KouchAccor__accordion::before {
    content: ' ';
    position: absolute !important;
    left: 20px !important;
    margin-top: 30px;
    top: 20px !important;
    border: 2px solid #222628 !important;
    width: 100% !important;
    height: 100% !important;

}


