#faqsCont{
    min-height: 100vh;
    max-height: max-content;
    width: 100%;
    position: relative;
}
/* Accordion Arrow  */

.MuiAccordionSummary-expandIconWrapper {
    position: absolute !important ;
    right: 30px !important ; 
    color: #222628 !important ;
    font-size: 50px !important ;
    width: 25px !important ;
    height: 25px !important ;
}
.MuiAccordionSummary-expandIconWrapper svg{
    height: 20px !important;
    width: 20px !important;
    font-size: 25px !important;
}

/* Box Shadow effect */

 .css-107vo98-MuiButtonBase-root-MuiAccordionSummary-root{
    background-color: #FFF !important;
    border: none !important;
}
.css-ta84vm-MuiAccordionDetails-root{
    border: none !important;
}
.KouchAccor__accordion{
    position: relative !important;
    width: 100% !important;
    margin: 50px 0 !important;
    border: 2px solid #222628 !important;
    background-color: #FFF !important;
}
.KouchAccor__accordion::before{
    content: ' ';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border: 2px solid #222628;
    left: 10px;
    z-index: 2;
    background-color: aqua;
    /* bottom: 0   ; */
} 
.KouchAccor__accordion::before {
    content: ' ';
    background: rebeccapurple;
    position: absolute;
    left: 0px;
    /* margin-top: 30px; */
    top: 10px ;
    border: 2px solid #222628 !important;
    width: 100% !important;
    height: 100% !important;
}