.rowCarousel {
    display: flex;
}
.rowCarousel>div {
    margin: 0 50px;
}
#CarouselCards {
    margin-top: 40px;
}

/*  */


.Karousel__card {
    font-family: "Space Grotesk", sans-serif !important;
    position: relative;
    width: 380px;
    height: 266px;
    margin-right: 30px;
    border: 2px solid #222628 !important;
    border-radius: 0 !important;
  }
  
  /* Upper Block */
  .upperBlock {
      display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #222628;
    background-color: #f5f5f5 !important;
  }
  .upperAvatar {
    margin: 20px;
    border: 2px solid #222628;
  }
  
  .Karousel__cardTitle {
    font-family: "Space Grotesk" !important;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  
  .upperIcon {
      margin-right: 5px;
  }
  
  .upperBlockText {
    display: flex;
    flex-direction: column;
  }
  .Karousel__cardContent{
      color: #7d7d7d;
  }
  .Karousel__card:hover .upperBlock {
      background-color: #ffd100 !important ;
      transition: 0.3s all;
  }
  
  /* Under Block */
  .underBlock {
    margin: 20px;
    position: absolute;
    top: 100px;
    width: 90%;
    height: auto;
    left: 0;
  }
  
/*  */

.iconBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.arrowPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.arrowPart>* {
    margin: 0 20px;
}
#CarouselCards{
    margin-bottom: 120px !important;
}
.css-1v5z4dq-MuiPaper-root-MuiCard-root{
    background-color: #fafafa !important;
}
.css-1w6wz2d {
    font-size: 18px !important;
}
.css-1okfn8i {
    background-color: #fafafa !important;
}
.react-multi-carousel-list  {
    padding-top: 60px;
    height: 500px !important;
} 
.react-multi-carousel-list {
    display: flex;
    align-items: flex-end;
}
.react-multiple-carousel__arrow--right::before,
.react-multiple-carousel__arrow--left::before {
    background-color: inherit;
    color: #FFD100 !important;
    font-size: 50px;
    position: absolute;
    top: -5px;
    content: '\2192' !important;
}
.react-multiple-carousel__arrow--right::before {
    z-index: 11;
}
.react-multiple-carousel__arrow--left::before {
    content: '\2192';
    z-index: 11;
    transform: rotateY(180deg);

}
.react-multi-carousel-list .react-multiple-carousel__arrow {
    position: absolute;
    top: 0px;
    background: inherit !important;
}
 
.react-multiple-carousel__arrow--left {
    position: absolute;
    left: 75% !important;
}
.react-multiple-carousel__arrow--right::before  , .react-multiple-carousel__arrow--left::before{
    font-size: 60px !important;
    background-color: inherit !important;
}
.css-1qxcd35-MuiGrid-root {
    width: 100vw !important;
}


@media screen and (min-width:1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .react-multiple-carousel__arrow {
        z-index: 1 !important;
    }

}

@media screen and (max-width: 947px) {
    .react-multiple-carousel__arrow--left {
        position: absolute !important;
        left: 75% !important;
    }
    }

@media screen and (max-width: 576px) {
    #CarouselCards {
        margin-top: 40px;
    }
    .react-multiple-carousel__arrow--left {
        position: absolute;
        left: 65% ;
    }
    #CarouselCards{
        margin-bottom: 80px !important;
    }

}

/* Laptop */
@media screen and (max-width: 1200px) {
     .css-1v5z4dq-MuiPaper-root-MuiCard-root {
        width: 300px !important;
        height: 261px;
        background-color: #F0F0F0 !important;
    }
     .react-multi-carousel-item,
    .react-multi-carousel-item--active {
        margin: 0 25px !important;
    }
    .react-multiple-carousel__arrow {
        z-index: 1 !important;
    }
}