.rowCarousel {
    display: flex;
}
.rowCarousel>div {
    margin: 0 50px;
}
#CarouselCards {
    margin-top: 40px;
}
.iconBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.arrowPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.arrowPart>* {
    margin: 0 20px;
}
#CarouselCards{
    margin-bottom: 120px !important;
}
.css-1v5z4dq-MuiPaper-root-MuiCard-root{
    background-color: #fafafa !important;
}
.css-1w6wz2d {
    font-size: 18px !important;
}
.css-1okfn8i {
    background-color: #fafafa !important;
}
.react-multi-carousel-list  {
    padding-top: 60px;
} 
.react-multi-carousel-list {
    display: flex;
    align-items: flex-end;
}
.react-multiple-carousel__arrow--right::before,
.react-multiple-carousel__arrow--left::before {
    background-color: inherit;
    color: #FFD100 !important;
    font-size: 50px;
    position: absolute;
    top: -5px;
    content: '\2192' !important;
}
.react-multiple-carousel__arrow--right::before {
    z-index: 11;
}
.react-multiple-carousel__arrow--left::before {
    content: '\2192';
    z-index: 11;
    transform: rotateY(180deg);

}
.react-multi-carousel-list .react-multiple-carousel__arrow {
    position: absolute;
    top: 0px;
    background: inherit;
}

.react-multiple-carousel__arrow--left {
    position: absolute;
    left: 85%;
}


.css-1qxcd35-MuiGrid-root {
    width: 100vw !important;
}


@media screen and (min-width:1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .react-multiple-carousel__arrow {
        z-index: 1 !important;
    }

}

@media screen and (max-width: 947px) {
    .react-multiple-carousel__arrow--left {
        position: absolute !important;
        left: 75% !important;
    }
    }

@media screen and (max-width: 576px) {
    #CarouselCards {
        margin-top: 40px;
    }
    .react-multiple-carousel__arrow--left {
        position: absolute;
        left: 65% ;
    }
    #CarouselCards{
        margin-bottom: 80px !important;
    }

}

/* Laptop */
@media screen and (max-width: 1200px) {
     .css-1v5z4dq-MuiPaper-root-MuiCard-root {
        width: 300px !important;
        height: 261px;
        background-color: #F0F0F0 !important;
    }
     .react-multi-carousel-item,
    .react-multi-carousel-item--active {
        margin: 0 25px !important;
    }
    .react-multiple-carousel__arrow {
        z-index: 1 !important;
    }
}