#ModulCard{
    width: 790px;
    min-height: auto;
    max-height: max-content;
    height: max-content !important;
    margin-bottom: 20px !important;
    
   
}

/* .CarouselModul:nth-child(1){
    height: max-content !important;
} */

#ModulMainCard{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}



.ModulLeftH2{
    font-family: 'Monument Extended', sans-serif !important;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #222628;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.ModulLeftText{
    font-family: 'Monument Extended', sans-serif !important;
    width: 300px;
    padding-bottom: 20px;
    border-bottom: 2px solid #222628;
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;

    /* brand black color */

    color: #222628;
}
#cardContentCarousel{
    position: relative;
    height: auto;
}
#ModulUnderBlock{
    top: 0px !important;
}
.CarouselModul{
    background: #B4FFC9;
    /* padding-bottom: 80px !important; */
    border-bottom: 2px solid #222628;
    height: max-content;
 
}
#ModulUnderBlock h5{
    font-size: 1em !important;
    margin-bottom: 3px !important;
}



@media screen and (max-width: 947px) {
    #ModulMainCard{
        width: 90% !important;
        margin: 0 auto !important;
    }
    .ForWhoH2 h2{
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        text-transform: uppercase;

        /* brand black color */

        color: #222628;
    }
}
@media screen and (max-width: 576px) {
    #ModulCard{
   
        height: max-content !important;
    }
    #ModulMainCard{
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
      
    }
   

    .ForWhoMain{
        flex-direction: column;
    }
    .ForWhoRight{
        width: 90% !important;
        margin: 0 auto;
        height: auto;
        object-fit: cover;
    }
    .ForWhoRight img{
        width: 100%;
        height: 206px !important;
        object-fit: cover;
    }
    .ForWhoMain{
        padding-bottom: 100px;
    }
    .ForWhoLeft{
        margin: 0px !important;
    }
    .ForWhoLeft{
        width: 90%;
        margin: 0 auto !important
    }
    .ModulLeftText{
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .react-multi-carousel-item{
        margin: 0px !important;
    }
    #ModulId{
        margin-top: 0px !important;
    }
    .ModulLeftText{
        margin-top: 20px !important;
    }
    /* #ModulCard{
        width: 90% !important;
        height: 100% !important;
        margin: 0 !important;
        
    } */
    .react-multi-carousel-item{
        margin: 0px !important;
    }
    .ModulLeft{
        width: 90% !important;
        margin: 0 auto !important;
    }
    #ModulCard{
        margin: 0 5%;
        width: 90% !important;
    }
    #ModulID{
        padding-bottom: 20px !important;
    }
    
}
